{% extends "basic/layout.html" %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}
{% block htmltitle %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif" rel="stylesheet">
    <script>
          /* Define digital data object based on _appInfo object */
          window.digitalData = {
            page: {
              pageInfo: {
                productTitle: 'IBM Q Experience',
                analytics: {
                  category: 'Qiskit.org',
                },
              },
            },
          };
          window._analytics = {
            segment_key: 'ffdYLviQze3kzomaINXNk6NwpY9LlXcw',
            coremetrics: false,
            optimizely: false,
            googleAddServices: false,
            fullStory: false,
            autoPageEventSpa: true,
            autoFormEvents: false,
            autoPageView: true,
            preventPageEvent: true,
          };
       </script>
        <script src="https://cloud.ibm.com/analytics/build/bluemix-analytics.min.js"></script>
    {{ super() }}
{% endblock %}

{%- block header %}{% endblock %}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% include "relations.html" %}{% endblock %}
{%- block sidebar2 %}{% endblock %}

{%- block body_tag %}
<body>
  <header>
    <div class="toolbar limited-width">
      <a href="/" class="home">Qiskit ™</a>
      <nav class="first">
        <a href="/terra">Terra</a>
        <a href="/aer">Aer</a>
        <a href="/aqua">Aqua</a>
        <a href="/ignis">Ignis</a>
      </nav>
      <nav class="second">
        <a class="external" id="educationLink" href="https://community.qiskit.org/education" target="_blank">Education</a>
        <a class="external" id="tutorialsLink" href="https://quantum-computing.ibm.com/jupyter/tutorial/1_start_here.ipynb" target="_blank">Tutorials</a>
        <a class="external" href="/documentation" selected>API Documentation</a>
      </nav>
    </div>
  </header>
    <div class="mdl-layout mdl-js-layout {% if theme_fixed_header|tobool %}mdl-layout--fixed-header{% endif %} {% if theme_fixed_drawer|tobool %}mdl-layout--fixed-drawer{% endif %}">
        {%- block sidebar1 %}{% include "drawer.html" %}{% endblock %}
        <main class="mdl-layout__content" tabIndex="0">
{% endblock %}

{%- block document %}
        <div class="page-content">
        {% block body %} {% endblock %}
        </div>
{% endblock %}

{%- block footer %}
        {% if theme_show_footer|tobool %}{% endif %}
        </main>
    </div>
    <script>
        function trackClickEvent (data) {
            if (window.bluemixAnalytics && window.digitalData) {
                var segmentEvent = {
                    productTitle: window.digitalData.page.pageInfo.productTitle,
                    category: window.digitalData.page.pageInfo.analytics.category,
                    url: window.location.href,
                    action: window.location.href + ' - Clicked: ' + data.action,
                    objectType: data.objectType,
                    successFlag: true
                };

                if(data.milestoneName) {
                    segmentEvent = Object.assign(segmentEvent, { milestoneName: data.milestoneName });
                }
                window.bluemixAnalytics.trackEvent('Custom Event', segmentEvent);
            }
        };

        function clickExternalLink() {
            trackClickEvent({
                action: "Tutorials Link in Navbar",
                objectType: "Link",
                milestoneName: "Looked at tutorials"
            });
        };

        var link = document.getElementById('tutorialsLink');
        link.addEventListener('click', clickExternalLink);
    </script>
    <script>
	    var localeRegExp = /\/(locale\/([a-z-]+)\/)?/i;
	    var prefix = '/documentation';
	    function getDefaultLanguage() {
	      return 'en';
	    }
      var el = document.getElementById('language');
      var optionsToSelect = ['en', 'ja']
      function changeLoc(evt) {
        var language = evt.target.options[el.selectedIndex].value;
        var pathname = window.location.pathname.slice(prefix.length);
        if (language === getDefaultLanguage()) {
          window.location.pathname =
            `${prefix}${pathname.replace(localeRegExp, '/')}`;
        } else {
          window.location.pathname =
            `${prefix}${pathname.replace(localeRegExp, `/locale/${language}/`)}`;
        }
      };
      el.addEventListener('change', changeLoc);
      function extractLanguageFromUrl(pathname) {
        const match = pathname.slice(prefix.length).match(localeRegExp);
        return typeof match[2] === 'undefined' ?
                getDefaultLanguage() : match[2];
	    }
      function changeSelect(select) {
        const optionToSelect = extractLanguageFromUrl(window.location.pathname);
        for (var i = 0; i < select.options.length; i++) {
          var o = select.options[i];
          if (optionToSelect == o.value) {
            o.selected = true;
          }
        }
      };
      changeSelect(el);
    </script>
{%- endblock %}
